body {

}
.app {
  color: white;
}
.top {
  font-family: 'Rajdhani', Arial, sans-serif;
  /*font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-variant: small-caps;*/
  background-color: #00686e;
  padding-top: 2px;
  padding-bottom: 5px;
}
.top h1 {
  font-size: 3.5em;
}
.search-area {
  background-color: #3fb4da;
}
.results-header{
  background-color: orange;
}
.results {
  color: black;
  background-color: #f0f0f0;
}
.form-group {
  padding: 10px;
}
.search-button:hover {
  cursor: pointer;
}
/*.radio {
  padding-left: 20px;
}*/
.form-control {
  width: 100%;
  margin-top: 5px;
}
button {
  margin-top: 20px;
  margin-bottom: 5px;
}
form {
  padding: 15px;
}
.radio label {
  margin-bottom: 7px;
}
.type-search {
  margin-left: 10px;
}
