body {

}
.app {
  color: white;
}
.top {
  font-family: 'Rajdhani', Arial, sans-serif;
  /*font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-variant: small-caps;*/
  background-color: #00686e;
  padding-top: 2px;
  padding-bottom: 5px;
}
.top h1 {
  font-size: 3.5em;
}
.search-area, .search-bar {
  background-color: #3fb4da;
  /*font-family: 'Rajdhani', Arial, sans-serif;*/
}
.search-bar {
  padding-bottom: 17px;
}
#show-search {
  font-size: 16px;
}
.search-close {
  float: right;
  margin-top: 2px;
  margin-right: -65px;
}
.results-header{
  background-color: #ff6d10;
}
.results {
  color: black;
  background-color: #f0f0f0;
}
.form-group {
  padding: 10px;
}
.search-button:hover {
  cursor: pointer;
}

/*.radio {
  padding-left: 20px;
}*/
.form-control {
  width: 100%;
  margin-top: 5px;
}
button {
  margin-top: 20px;
  margin-bottom: 5px;
}
form {
  padding: 15px;
}
.radio label {
  margin-bottom: 7px;
}
.type-search {
  margin-left: 10px;
}
.late {
  color: red;
}
.map {
  margin-top: 20px;
  margin-bottom: 20px;
}
.map-row, .direction-row {
  color: white;
  font-size: 1.5em;
  background-color: #e6e6e6;
}
.map-row {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.direction-row {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
