body {

}
.app {
  color: white;
}
.top-bar {
  background-color: #00686e;
}
.search-area {
  background-color: #3fb4da;
}
.results {
  background-color: orange;
}
.form-group {
  padding: 10px;
}
.search-button:hover {
  cursor: pointer;
}
/*.radio {
  padding-left: 20px;
}*/
.form-control {
  width: 100%;
  margin-top: 5px;
}
button {
  margin-top: 20px;
  margin-bottom: 5px;
}
form {
  padding: 15px;
}
.radio label {
  margin-bottom: 7px;
}
.type-search {
  margin-left: 10px;
}
